.dc-overlay {
    font-family: monospace;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.85) !important;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    cursor: default;
}
.dc-icon {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-size: 30px 30px;
    border-radius: 50%;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    float: left;
}
.dc-tooltip {
    display: inline-block;
    position: relative;
}
.dc-tooltip .dc-tooltip-text {
    visibility: hidden;
    font-size: 11px;
    width: 120px;
    background-color: var(--main-color, #7289da);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    z-index: 10;
}
.dc-tooltip .dc-tooltip-text::after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: var(--main-color, #7289da);
}
.dc-tooltip:not(.dc-tooltip-delayed):hover .dc-tooltip-text {
    visibility: visible;
}
.dc-tooltip-delayed:hover .dc-tooltip-text {
    transition: 0s all 1s;
    visibility: visible;
}
.dc-scroll-table {
    overflow: auto;
    max-height: 50%;
}
.dc-table {
    border: 1px solid #424549;
    width: 100%;
}
.dc-table > thead {
    background: #d3d3d3;
    color: #000;
}
.dc-table > thead > tr > th {
    padding: 4px;
}
.dc-table > tbody > tr > td {
    text-align: center;
    padding: 2px;
}
.dc-table > tbody > tr > td > button {
    display: block;
    margin: auto;
}
.dc-checkbox, .dc-checkbox:active {
    margin-top: -5px;
    margin-left: 10%;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 50px;
    box-shadow: inset -22px 0 0 0 #a9a9a9;
    -webkit-transition-duration: 200ms;
}
.dc-checkbox:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}
.dc-checkbox:checked {
    border-color: var(--main-color, #3a71c1);
    box-shadow: inset 22px 0 0 0 var(--hover-color, #3a71c1);
}
.dc-checkbox:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}
.dc-password-field {
    width: 95%;
    margin: 10px;
    color: #fff;
    height: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--main-color, #3a71c1);
}
.dc-overlay-centerfield {
    font-size: 20px;
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    background-color: #1e2124;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dc-overlay-main {
    overflow: hidden;
    position: absolute;
    left: 5%; right: 5%;
    top: 5%; bottom: 5%;
    width: 90%; height: 90%;
    border: 3px solid #23272a;
    background-color: #36393f !important;
    border-radius: 3px;
}
.dc-textarea {
    background: transparent;
    font-family: monospace;
    font-size: 12px;
    color: #fff;
    overflow: auto;
    padding: 5px;
    resize: none;
    height: 100%;
    margin: 2px;
}
.dc-update-field {
    font-size: 14px;
    margin: 10px;
}
ul.dc-list {
    margin: 10px;
    padding: 5px;
    list-style-type: circle;
}
ul.dc-list > li { padding: 5px; }
ul.dc-list-red { color: #ff0000; }
.dc-overlay-main textarea {
    background: transparent !important;
    cursor: default;
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 2px;
    resize: none;
    color: #8e8e8e;
    width: 70%;
    overflow-y: hidden;
    user-select: none;
}
.dc-overlay-main select {
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}
.dc-input-field {
    font-family: sans-serif !important;
    background: #000 !important;
    color: #fff !important;
    font-size: 12px;
    width: 50%;
    margin-bottom: 10px;
    margin-top: -5px;
    margin-left: 10%;
    text-indent: 5px;
}
.dc-input-label {
    font-family: monospace !important;
    color: #708090;
    min-width: 20%;
}
.dc-ruler-align {
    display: flex;
    margin: 10px;
}
.dc-code-block {
    font-family: monospace !important;
    font-size: 0.875rem;
    line-height: 1rem;

    overflow-x: visible;
    text-indent: 0;

    background: rgba(0,0,0,0.42)!important;
    color: hsla(0,0%,100%,0.7)!important;
    padding: 6px!important;

    position: relative;
}
.dc-overlay-main .tab {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7) !important;
    border-bottom: 3px solid #23272a;
}
.dc-overlay-main .tab button {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 14px;
    transition: 0.5s;
    font-family: monospace;
    border-radius: 3px;
    margin: 3px;
}
.dc-overlay-main .tab button:hover { background-color: #2c2f33; }
.dc-overlay-main .tab button.active { background-color: #23272a; }
.dc-overlay-main .tab-content {
    display: none;
    height: 95%;
    color: #9298a2;
    overflow: auto;
    padding: 10px 25px 5px;
    animation: fadeEffect 1s;
    background: rgba(0, 0, 0, 0.7) !important;
}
.dc-hint {
    font-size: 11px;
    display: block;
}
.dc-hint > p {
    margin: 0 0 0 30%;
}
.dc-svg {
    color: #fff; opacity: .6;
    margin: 0 4px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.dc-svg:hover {
    color: var(--hover-color, #fff);
    opacity: .8;
}
.dc-button{
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--main-color, #7289da);
    color: #fff;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    width: auto;
    height: 32px;
    min-height: 32px;
    min-width: 60px;
    font-weight: 500;
    justify-content: center;
    line-height: 16px;
    padding: 2px 16px;
    position: relative;
    user-select: none;
}
.dc-button-small{
    height: 20px !important;
    min-height: 20px !important;
    font-size: 10px;
}
.dc-button:hover{ background-color: var(--hover-color, #677bc4) !important; }
.dc-button:active{ background-color: var(--main-color, #5b6eae) !important; }
.dc-button-inverse{
    color: #f04747;
    background: transparent !important;
    border: 1px solid rgba(240,71,71,.3);
    transition: color .17s ease,background-color .17s ease,border-color .17s ease;
}
.dc-button-inverse:hover{
    border-color: rgba(240,71,71,.6);
    background: transparent !important;
}
.dc-button-inverse:active{ background-color: rgba(240,71,71,.1); }
.stat-levels {
    box-shadow: inset 0 0 25px rgba(0,0,0,.5);
    margin: 5px auto 0 auto;
    height: 20px;
    padding: 15px;
    border: 1px solid #494a4e;
    border-radius: 10px;
    background: linear-gradient(#444549 0%, #343539 100%);
}
.stat-bar {
    background-color: #2a2b2f;
    box-shadow: inset 0 5px 15px rgba(0,0,0,.6);
    height: 8px;
    overflow: hidden;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
}
.stat-bar-rating {
    border-radius: 4px;
    float: left;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-indent: -9999px;
    background-color: var(--main-color, #3a71c1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
