<div id="dc-overlay" class="dc-overlay">
    <div id="dc-overlay-upload" class="dc-overlay-centerfield" style="display:none;">
        <div class="dc-ruler-align">
            <input type="text" class="dc-input-field" id="dc-file-path"
                   style="width: 100%;padding: 2px;margin-left: 4px;" readonly title="File Path"/>
            <button class="dc-button dc-button-inverse" type="button" id="dc-select-file-path-btn"
                    style="top: -8px;">
                <span class="dc-tooltip">
                    <span class="dc-tooltip-text">Select A File To Upload</span>
                    . . .
                </span>
            </button>
        </div>

        <textarea class="dc-textarea" rows="20" cols="128" id="dc-file-message-textarea"
                  placeholder="Enter any addition text to send with your message ..." maxlength="1820"></textarea>

        <div class="dc-ruler-align" style="font-size:14px; padding-bottom:10px;">
            <input id="dc-file-deletion-checkbox" class="dc-checkbox" type="checkbox"
                   style="margin-left: 0;">
            <span style="margin-top: 5px;" class="dc-tooltip">
                <span class="dc-tooltip-text">
                    If enabled, a deletion link will be sent along with the file link that can be used
                    to delete the file immediately.
                </span>
                Send Deletion Link
            </span>
        </div>
        <div class="dc-ruler-align" style="font-size:14px; padding-bottom:10px;">
            <input id="dc-file-name-random-checkbox" class="dc-checkbox" type="checkbox"
                   style="margin-left: 0;">
            <span style="margin-top: 5px;" class="dc-tooltip">
                <span class="dc-tooltip-text">
                    If enabled, the upload file's name will be randomized but extension will be kept.
                </span>
                Randomize File Name
            </span>
        </div>

        <div class="stat stat-bar">
            <span id = "dc-file-upload-status" class="stat-bar-rating" style="width: 0;"/>
        </div>

        <div class="dc-ruler-align">
            <button class="dc-button" style="width:100%;" id="dc-file-upload-btn">Upload</button>
        </div>

        <div class="dc-ruler-align">
            <button class="dc-button dc-button-inverse" style="width:100%;" id="dc-file-cancel-btn">
                Close</button>
        </div>
    </div>
    <div id="dc-overlay-password" class="dc-overlay-centerfield" style="display:none;">
        <span>Primary Password:</span>
        <input type="password" class="dc-password-field" id="dc-password-primary" placeholder="..."/><br/>

        <span>Secondary Password:</span>
        <input type="password" class="dc-password-field" id="dc-password-secondary" placeholder="..."/><br/>

        <div class="dc-ruler-align">
            <button class="dc-button" id="dc-save-pwd">Update Passwords</button>
            <button class="dc-button dc-button-inverse" id="dc-reset-pwd">Reset Passwords</button>
            <button class="dc-button dc-button-inverse" id="dc-cancel-btn">Cancel</button>
        </div>

        <button class="dc-button dc-button-inverse" style="width: 100%;" id="dc-cpy-pwds-btn">
            Copy Current Passwords</button>
    </div>
    <div id="dc-overlay-update" class="dc-overlay-centerfield" style="border: 1px solid; z-index: 5000; display: none">
        <span>DiscordCrypt: Update Available</span>
        <div class="dc-ruler-align">
            <strong class="dc-update-field" id="dc-new-version"/>
        </div>
        <div class="dc-ruler-align">
            <strong class="dc-update-field" id="dc-old-version"/>
        </div>
        <div class="dc-ruler-align">
            <strong class="dc-update-field">Changes:</strong></div>
        <div class="dc-ruler-align">
            <textarea class="dc-textarea" rows="20" cols="128" id="dc-changelog" readonly
                      placeholder="Update Changes ..."/>
        </div>
        <br>
        <div class="dc-ruler-align">
            <button class="dc-button" id="dc-restart-now-btn" style="width: 33%;">
                Reload Now</button>
            <button class="dc-button dc-button-inverse" id="dc-restart-later-btn" style="width: 33%;">
                Reload Later</button>
            <button class="dc-button dc-button-inverse" id="dc-ignore-update-btn" style="width: 33%">
                Ignore Update</button>
        </div>
    </div>
    <div id="dc-overlay-settings" class="dc-overlay-main" style="display: none;">
        <div class="tab" id="dc-settings-tab">
            <button class='dc-tab-link' id="dc-plugin-settings-btn">Plugin Settings</button>
            <button class='dc-tab-link' id="dc-database-settings-btn">Database Settings</button>
            <button class='dc-tab-link' id="dc-security-settings-btn">Security Settings</button>
            <button class='dc-tab-link' id="dc-exit-settings-btn" style="float:right;">✖</button>
        </div>
        <div class="tab-content" id="dc-plugin-settings-tab" style="display: block;">
            <p style="text-align: center;">
                <b>DiscordCrypt Settings</b>
            </p>
            <br/><br/>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Primary Cipher:</div>
                <select class="dc-input-field" id="dc-primary-cipher" title="Primary Cipher">
                    <option value="bf" selected>Blowfish ( 512-Bit )</option>
                    <option value="aes">AES ( 256-Bit )</option>
                    <option value="camel">Camellia ( 256-Bit )</option>
                    <option value="tdes">TripleDES ( 192-Bit )</option>
                    <option value="idea">IDEA ( 128-Bit )</option>
                </select>
            </div>

            <div class="dc-hint">
                <p>This indicates the cipher used to encrypt the inner ciphertext of a message.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Secondary Cipher:</div>
                <select class="dc-input-field" id="dc-secondary-cipher" title="Secondary Cipher">
                    <option value="bf">Blowfish ( 512-Bit )</option>
                    <option value="aes">AES ( 256-Bit )</option>
                    <option value="camel">Camellia ( 256-Bit )</option>
                    <option value="idea">IDEA ( 256-Bit )</option>
                    <option value="tdes">TripleDES ( 192-Bit )</option>
                </select>
            </div>

            <div class="dc-hint">
                <p>This indicates the cipher used to encrypt the outer ciphertext of a message.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Cipher Padding Mode:</div>
                <select class="dc-input-field" id="dc-settings-padding-mode" title="Cipher Padding Scheme">
                    <option value="pkc7">PKCS #7</option>
                    <option value="ans2">ANSI X9.23</option>
                    <option value="iso1">ISO 10126</option>
                    <option value="iso9">ISO 97971</option>
                </select>
            </div>

            <div class="dc-hint">
                <p>This indicates the message padding scheme used for both ciphers.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Cipher Block Operation Mode:</div>
                <select class="dc-input-field" id="dc-settings-cipher-mode" title="Cipher Block Operation Mode">
                    <option value="cbc">Cipher Block Chaining</option>
                    <option value="cfb">Cipher Feedback Mode</option>
                    <option value="ofb">Output Feedback Mode</option>
                </select>
            </div>

            <div class="dc-hint">
                <p>This indicates the block mode of operation for both ciphers.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Exchange Algorithm:</div>
                <select class="dc-input-field" id="dc-settings-exchange-mode" title="Exchange Algorithm">
                    <option value="224">secp224k1</option>
                    <option value="256">curve25519</option>
                    <option value="384">secp384r1</option>
                    <option value="409">sect409k1</option>
                    <option value="521">secp521r1</option>
                    <option value="571">sect571k1</option>
                    <option value="768">modp1</option>
                    <option value="1024">modp2</option>
                    <option value="1536">modp5</option>
                    <option value="2048">modp14</option>
                    <option value="3072">modp15</option>
                    <option value="4096">modp16</option>
                    <option value="6144">modp17</option>
                    <option value="8192">modp18</option>
                </select>
            </div>

            <div class="dc-hint">
                <p>This indicates the default algorithm used for handshakes.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Default Encryption Password:</div>
                <input type="text" class="dc-input-field" id="dc-settings-default-pwd"
                       title="Default Encryption Password"/>
            </div>

            <div class="dc-hint">
                <p>This is the default password used to decrypt messages in channels without a password being set.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Decrypted Message Prefix:</div>
                <input type="text" class="dc-input-field" id="dc-settings-decrypted-prefix"
                       title="Decrypted Message Prefix"/>
            </div>

            <div class="dc-hint">
                <p>This indicates what will be added to the start of a decrypted message. Can be empty.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Message Trigger:</div>
                <input type="text" class="dc-input-field" id="dc-settings-encrypt-trigger" title="Message Trigger"/>
            </div>

            <div class="dc-hint">
                <p>The suffix at the end of a typed message to indicate whether to encrypt the text.</p>
                <p>Example: <u>This message will be encrypted.|ENC</u></p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Timed Message Expiration:</div>
                <input type="number" class="dc-input-field" id="dc-settings-timed-expire"
                       title="Timed Message Expiration"/>
            </div>

            <div class="dc-hint">
                <p>This indicates how long after an encrypted message is sent, should it be deleted in minutes.</p>
                <p><u>Set this to "0" to disable timed messages.</u></p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">New Master Database Password:</div>
                <input type="password" class="dc-input-field" id="dc-master-password"
                       title="New Master Database Password"/>
            </div>

            <div class="dc-hint">
                <p>If specified, your master password will be updated to this.</p>
            </div>

            <div class="dc-ruler-align">
                <div class="dc-input-label">Automatically Accept Key Exchanges:</div>
                <input type="checkbox" class="dc-checkbox" id="dc-auto-accept-keys"
                       title="Automatically Accept Key Exchanges">
            </div>

            <div class="dc-ruler-align">
                <button id="dc-settings-save-btn" class="dc-button">Save & Apply</button>
                <button id="dc-settings-reset-btn" class="dc-button dc-button-inverse">
                    Reset Settings</button>
            </div>

            <div class="dc-ruler-align">
                <button class="dc-button">
                    <a style="color: #fff !important;"
                       href="https://discordapp.com/invite/3uakNmM" target="_blank">Join Support Server</a>
                </button>
                <button class="dc-button">
                    <a style="color: #fff !important;"
                       href="https://gitlab.com/leogx9r/DiscordCrypt" target="_blank">Visit Source Repository</a>
                </button>
            </div>

            <br/><br/><br/><br/>
        </div>
        <div class="tab-content" id="dc-database-settings-tab">
            <p style="text-align: center;">
                <b>Database Settings</b>
            </p>
            <br/><br/>

            <div class="dc-scroll-table">
                <table class="dc-table">
                    <thead>
                    <tr>
                        <th><b>Channel</b></th>
                        <th><b>Options</b></th>
                    </tr>
                    </thead>
                    <tbody id="dc-database-entries">
                        <tr>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                            <td><button class="dc-button dc-button-inverse dc-button-small">Delete Entry</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/><br/>
            <div class="dc-ruler-align">
                <button class="dc-button" id="dc-import-database-btn">Import Database(s)</button>
                <button class="dc-button dc-button-inverse" id="dc-export-database-btn">Export Database</button>
                <button class="dc-button dc-button-inverse" id="dc-erase-entries-btn">Erase Entries</button>
            </div>
        </div>
        <div class="tab-content" id="dc-security-settings-tab">
            <p style="text-align: center;">
                <b>Security Settings</b>
            </p>
            <br/><br/>

            <p><b>Blacklisted Updates</b></p>
            <div class="dc-scroll-table">
                <table class="dc-table">
                    <thead>
                    <tr>
                        <th><b>Version</b></th>
                        <th><b>Options</b></th>
                    </tr>
                    </thead>
                    <tbody id="dc-update-blacklist-entries">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/><br/>
            <div class="dc-ruler-align">
                <div class="dc-input-label">Automatically Check For Updates:</div>
                <input type="checkbox" class="dc-checkbox" id="dc-automatic-updates-enabled"
                       title="Use Embedded Messages">
            </div>

            <br/><br/>
            <div class="dc-ruler-align">
                <button class="dc-button" id="dc-update-check-btn">Check For Updates</button>
            </div>
        </div>

        <br/><br/><br/><br/>
    </div>
</div>
